<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jdasin.www.spotifystreamer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jdasin.www.spotifystreamer.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jdasin.www.spotifystreamer.ArtistDetail"
            android:label="@string/title_activity_artist_detail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.jdasin.www.spotifystreamer.MainActivity">

        <!-- The meta-data element is needed for versions lower than 4.1 -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.jdasin.www.spotifystreamer.MainActivity" />
        </activity>
        <service android:name="com.jdasin.www.spotifystreamer.services.TrackPlayerService" >
            <intent-filter>
                <action android:name="com.jdasin.www.action.PLAY" />
            </intent-filter>
        </service>
    </application>

</manifest>
